{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
  },
  "rules": {
    "semi": "error",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "quotes": ["error", "double"],
    "object-curly-spacing": ["error", "always"]
  },
  "globals": {
    "BufferEncoding": "readonly"
  }
}
